<div class="page" [ngClass]="{ 'space-between': displayService.isMenuOpen, 'flex-end': !displayService.isMenuOpen }">
    <div class="header main" [ngClass]="{ 'static': displayService.isMenuOpen, 'fixed': !displayService.isMenuOpen }">
        <img class="logo" routerLink="/" src="assets/img/profile/logo.png">
        <button class="burger" (click)="toggleContent()">
            <mat-icon appearance="outline" class="material-icons costom">{{ displayService.isMenuOpen ? "close" :
                "menu"}}</mat-icon>
        </button>
    </div>
    <div class="page-menu" [ngClass]="{'menu-pdg' : !displayService.isMenuOpen}">
        <router-outlet></router-outlet>        
    </div>
    <app-contact-form *ngIf="!isLegalNoticeRoute"></app-contact-form>
</div>